@charset "UTF-8";


/* Main styles */


* {
	padding: 0;
	margin: 0;
}
     
body {
	background-color: #fff;
	font-family: "PT Sans", Georgia, "Times New Roman", serif; 
	height: 100%;
	width: 100%; 
} 


/* Wrap style */


.wrapper-main {
	width: 670px;
	height: auto;
	margin: 50px auto;
}


/* Schedule style*/


.main_title {
	background-color: #434b60;
	line-height: 60px;
	color:#fff;
	font-weight: 600;
	font-size: 14pt;
	text-align:center;
	margin: 15px 0 0 0;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	position: relative;
}

.main_title:before {
	content: "";
	background-image: url("../img/ic_bookmark_white_48px.svg");
	opacity: 0.2;
	position: absolute;
	top: -8px;
	left: 5px;
	width: 48px;
	height: 48px;
}

.day_week li {
	background-color: #4f5a6e;
	font-size: 12pt;
	list-style: none;
	padding: 10px 0 25px 10px;
	color: #fff;
	transition: background 0.3s ease-out;
}

.num {
	display: inline-block;
	vertical-align: middle;
	font-size: 12pt;
	width: 30px;
}

.time {
	width: 100px;
	height: auto;
	display: inline-block;
	margin: 0 0 0 20px;
	vertical-align: middle;
}

.discipline {
	width: 290px;
	margin: 0 0 0 20px;
	display: inline-block;
	vertical-align: middle;
}

.auditory {
	display: inline-block;
	width: 50px;
	vertical-align: middle;
	text-align: center;
}

.educator {
	width: 140px;
	display: inline-block;
	margin: 0 0 0 5px;
	vertical-align: middle;
	text-align: right;
}


/* Border-radius */


.wrapper-main li:nth-child(2), 
.wrapper-main li:nth-child(6),
.wrapper-main li:nth-child(4) {
	border-bottom: 2px dotted #fff;
}

.wrapper-main li:nth-last-child(1) {
	border-radius: 0 0 5px 5px;
}


/* Left menu styles */


.menu {
	width: 150px;
	background-color: #434b60;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 5px 10px 5px 0;
	position: fixed;
}

.menu li{
	list-style-type: none;  
	font-size: 12pt;
}

.menu a {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}

.menu a:visited {
	text-decoration: none;
}

.menu-link {
	font-size: 12pt;
	height: 50px;
	display:block;
	background-color: #4f5a6e;
	border-radius: 0 5px 5px 0;
	margin: 10px 0 10px 0;
	padding: 0 0 0 15px;
	box-sizing: border-box;
	line-height: 50px;
}

.menu li:hover {
	text-decoration: none;
	opacity: 0.6;
	transition: opacity 0.1s ease-out;
}


/* To top button */


.bottom_link_top {
	width: 670px;
	height: 50px;
	line-height: 50px;
	display: block;
	text-decoration: none;
	margin: 20px 0 50px 0;
	color: #fff;
	background-color: #2d72d9;
	background-image: url("../img/ic_arrow_upward_white_18px.svg");
	background-repeat: no-repeat;
	background-position: 360px 16px;
	text-align: center;
	border-radius: 5px;
	font-size: 12pt;
}

.bottom_link_top:hover {
	text-decoration: none; 
	opacity: 0.95;
	transition: opacity 0.1s ease-out;
}


/* Footer */


.footer {
	text-align: center;
	margin: 40px auto;
	font-size: 12pt;
}

.footer a {
	color:#0076df;
	text-decoration: none;
	border-bottom: 1px solid #46bafc;
}

.footer a:hover {
	color: #FFA500;
	border-bottom: 1px solid #FFA500;
	transition: all 0.15s ease;
}

.footer a:visited {
	color: #8A2BE2;
	border-bottom: 1px solid #8A2BE2;
}

.footer a:visited:hover {
	color: #FFA500;
	border-bottom: 1px solid #FFA500;
	transition: all 0.15s ease;
}


/* Custom user preferencies */


.opacity-setup {
	width: 48px;
	height: 48px;
	box-sizing: border-box;
	color: #fff;
	border-radius: 0 5px 5px 0;
	background-color: #65c178;
	margin-top: 350px;
	position: fixed;
	background-image: url("../img/ic_lightbulb_outline_white_36px.svg");
	background-repeat: no-repeat;
	background-position: 6px 6px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.opacity-setup:hover {
	opacity: 0.9;
	cursor: pointer;
}

.opacity-setup:active {
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.43);
}

.background-setup {
	width: 48px;
	height: 48px;
	box-sizing: border-box;
	color: #fff;
	border-radius: 0 5px 5px 0;
	background-color: #2d72d9;
	margin-top: 410px;
	position: fixed;
	background-image: url("../img/ic_invert_colors_white_36px.svg");
	background-repeat: no-repeat;
	background-position: 4px 5px;
	background-size: 80%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.background-setup:hover {
	opacity: 0.9;
	cursor: pointer;
}

.background-setup:active {
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.43);
}

.menu-setup {
	width: 48px;
	height: 48px;
	box-sizing: border-box;
	color: #fff;
	border-radius: 0 5px 5px 0;
	background-color: #2d72d9;
	margin-top: 470px;
	position: fixed;
	background-image: url("../img/ic_menu_white_36px.svg");
	background-repeat: no-repeat;
	background-position: 4px 5px;
	background-size: 80%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu-setup:hover {
	opacity: 0.9;
	cursor: pointer;
}

.menu-setup:active {
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.43);
}


/* Tooltips */


.tooltip {
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.tooltip:before {
    display: block;
    position: absolute;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip:before {
    top: 0px;
    left: -285px;
    padding: 5px 10px 5px 10px;
    height: auto;
    width: 250px;
    color: white;
    background-color: #b5a1dd;
    content: attr(data-title);
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-weight: 500;
}

.tooltip:hover:before {
    opacity: 1;
    margin-bottom: 0;
    visibility: visible;
}


/* Media queries */


@media screen and (max-width: 1050px) {
    .menu {
        visibility:hidden;
    }

    .menu-setup {
        visibility: hidden;
    }
}

@media screen and (max-width: 800px) {
    .opacity-setup {
        position:static;
        margin: 0;
        display: inline-block;
        width: 100px;
        background-position: 30px 6px;
        border-radius: 0 0 5px 5px;
    }

    .background-setup {
        position: static;
        margin: 0;
        display: inline-block;
        background-position: 30px 8px;
        background-size: 35%;
        width: 100px;
         margin-left: 55px;
        border-radius: 0 0 5px 5px;
    }

    .btn-container {
        width: 260px;
        height: 48px;
        margin: 0 auto;
    }
}

